# Entornos virtuales
.venv/
venv/
env/

# Cachés Python
__pycache__/
*.py[cod]
*$py.class

# Distribuidos
*.egg-info/
dist/
build/
*.egg

# Logs
*.log

# IDEs
.idea/
.vscode/settings.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Entornos
.env
